@import './common';
@import '../../../style/fontStyle';
@import '../../../style/components/input';

.change_password_button {
  margin-top: 8px;
}

.account__changepsw__form {
  padding-left: 32px;

  :global {
    .ant-btn {
      width: 154px;
    }

    .ant-form-item-label {
      text-align: left;
      @include mobi-font-P4;
    }
  }

  input {
    @include mobi-font-P4;
  }

  .account__changepsw__row {
    text-align: left;

    label {
      @include mobi-font-P4;
    }
  }

  .account__changepsw__formitem {
    margin-left: -4px;
  }
}
